@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s ease;
}

body {
  background: #f8f8f2 !important;
  max-width: 2000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

p,
spam,
h1 {
  color: #44475a;
}

/* Background color classes */

.bg-gray {
  background-color: #44475a;
}
.bg-black {
  background-color: #282a36;
}
.bg-white {
  background-color: #f8f8f2;
}
.bg-dark-blue {
  background-color: #6272a4;
}
.bg-light-blue {
  background-color: #8be9fd;
}
.bg-dark-purple {
  background-color: #bd93f9;
}
.bg-light-purple {
  background-color: #ff79c6;
}
.bg-dark-red {
  background-color: #ff5555;
}
.bg-light-red {
  background-color: #ff6e6e;
}
.bg-dark-orange {
  background-color: #ffb86c;
}
.bg-light-orange {
  background-color: #ffd47e;
}
.bg-dark-green {
  background-color: #50fa7b;
}
.bg-light-green {
  background-color: #69ff94;
}
.bg-dark-cyan {
  background-color: #8be9fd;
}
.bg-light-cyan {
  background-color: #a4ffff;
}
.bg-dark-pink {
  background-color: #ff79c6;
}
.bg-light-pink {
  background-color: #ff92d0;
}
.bg-dark-yellow {
  background-color: #f1fa8c;
}
.bg-light-yellow {
  background-color: #ffffa5;
}

/* Text color classes */

.text-gray {
  color: #44475a;
}
.text-black {
  color: #282a36;
}
.text-white {
  color: #f8f8f2 !important;
}
.text-dark-blue {
  color: #6272a4;
}
.text-light-blue {
  color: #8be9fd;
}
.text-dark-purple {
  color: #bd93f9;
}
.text-light-purple {
  color: #ff79c6;
}
.text-dark-red {
  color: #ff5555;
}
.text-light-red {
  color: #ff6e6e;
}
.text-dark-orange {
  color: #ffb86c;
}
.text-light-orange {
  color: #ffd47e;
}
.text-dark-green {
  color: #50fa7b;
}
.text-light-green {
  color: #69ff94;
}
.text-dark-cyan {
  color: #8be9fd;
}
.text-light-cyan {
  color: #a4ffff;
}
.text-dark-pink {
  color: #ff79c6;
}
.text-light-pink {
  color: #ff92d0;
}
.text-dark-yellow {
  color: #f1fa8c;
}
.text-light-yellow {
  color: #ffffa5;
}

/* Button Header */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #ff5555;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* link */

.linkMenu {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.linkMenu:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ff5555;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.linkMenu:hover:before {
  left: 0;
  right: 0;
  width: 100%;
}

.card .restTextCard {
  display: none;
}

.card:hover .imgCard {
  display: none;
  transition: none 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    display 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .textCard {
  transform: translateY(-140px) display 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  width: 250px;
  height: 300px;
  padding: 20px;
}

.card:hover .restTextCard {
  display: block;
}
.lineInitial {
  width: 140px;
  height: 80px;
  border-right: 5px dashed #44475a;
  border-top: 5px dashed #44475a;
  border-radius: 0px 50px 0px 0px;
  margin-left: 205px;
  margin-top: -30px;
}
.lineInitial2 {
  height: 5px;
  border-top: 5px dashed #44475a;
  border-radius: 0px 50px 0px 0px;
}
.lineMyProjects {
  width: 150px;
  height: 50px;
  border-right: 5px dashed #44475a;
  border-top: 5px dashed #44475a;
  border-radius: 0px 50px 0px 0px;
  margin-top: 30px;
  zindex: 10;
  background: #f8f8f2;
}

.line1 {
  margin-top: 100px;
  width: 250px;
  height: 50px;
  border-right: 5px dashed #44475a;
  border-bottom: 5px dashed #44475a;
  border-radius: 0px 0px 50px 0px;
  margin-left: 52.6px;
  margin-top: 150px;
}

.line2 {
  width: 250px;
  height: 170px;
  border-left: 5px dashed #44475a;
  border-top: 5px dashed #44475a;
  border-bottom: 5px dashed #44475a;
  border-radius: 50px 5px 0px 50px;
  margin-top: -5px;
  zindex: 10;
  background: #f8f8f2;
}
.line3 {
  width: 250px;
  height: 170px;
  border-right: 5px dashed #44475a;
  border-top: 5px dashed #44475a;
  border-bottom: 5px dashed #44475a;
  border-radius: 0px 50px 50px 0px;
  margin-top: -5px;
  zindex: 10;
  background: #f8f8f2;
  margin-left: 52.6px;
}
.line4 {
  width: 250px;
  height: 100px;
  border-left: 5px dashed #44475a;
  border-top: 5px dashed #44475a;
  border-radius: 50px 0px 0px 0px;
  margin-top: -5px;
  zindex: 10;
  background: #f8f8f2;
}

.iconArrow {
  margin-top: 97px;
  margin-left: -15px;
  font-size: 27px;
  color: #44475a;
}
.iconArrow2 {
  margin-top: 40px;
  margin-left: 135px;
  color: #44475a;
}

.buttonScroll {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #44475a;
  padding: 5px 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.buttonScroll:hover {
  background-color: #ff5555;
  transition: background-color 0.5s ease;
  duration: 0.5s;
}

.hoverBrightness:hover {
  filter: brightness(0.8);
  transition: filter 0.5s ease;
  duration: 0.5s;
}
