@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #F8F8F2 !important;
  max-width: 2000px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Background color classes */

.bg-gray{ background-color: #44475A;  }
.bg-black{ background-color: #282A36; }
.bg-white{ background-color: #F8F8F2; } 
.bg-dark-blue{ background-color: #6272A4; }
.bg-light-blue{ background-color: #8BE9FD; }
.bg-dark-purple{ background-color: #BD93F9; }
.bg-light-purple{ background-color: #FF79C6; }
.bg-dark-red{ background-color: #FF5555; }
.bg-light-red{ background-color: #FF6E6E; }
.bg-dark-orange{ background-color: #FFB86C; }
.bg-light-orange{ background-color: #FFD47E; }
.bg-dark-green{ background-color: #50FA7B; }
.bg-light-green{ background-color: #69FF94; }
.bg-dark-cyan{ background-color: #8BE9FD; }
.bg-light-cyan{ background-color: #A4FFFF; }
.bg-dark-pink{ background-color: #FF79C6; } 
.bg-light-pink{ background-color: #FF92D0; }
.bg-dark-yellow{ background-color: #F1FA8C; }
.bg-light-yellow{ background-color: #FFFFA5; }

/* Text color classes */

.text-gray{ color: #44475A;  }
.text-black{ color: #282A36; }
.text-white{ color: #F8F8F2 !important; }
.text-dark-blue{ color: #6272A4; }
.text-light-blue{ color: #8BE9FD; }
.text-dark-purple{ color: #BD93F9; }
.text-light-purple{ color: #FF79C6; }
.text-dark-red{ color: #FF5555; }
.text-light-red{ color: #FF6E6E; }
.text-dark-orange{ color: #FFB86C; }
.text-light-orange{ color: #FFD47E; }
.text-dark-green{ color: #50FA7B; }
.text-light-green{ color: #69FF94; }
.text-dark-cyan{ color: #8BE9FD; }
.text-light-cyan{ color: #A4FFFF; }
.text-dark-pink{ color: #FF79C6; }
.text-light-pink{ color: #FF92D0; }
.text-dark-yellow{ color: #F1FA8C; }
.text-light-yellow{ color: #FFFFA5; }

/* Button Header */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #FF5555;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* link */

.linkMenu {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.linkMenu:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #FF5555;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.linkMenu:hover:before{
  left: 0;
  right: 0;
  width: 100%;
}

.card .restTextCard{
  display: none;
}

.card:hover .imgCard {
  display: none;
  transition: none 0.8s cubic-bezier(0.4, 0, 0.2, 1), display 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover .textCard {
  transform: translateY(-140px) display 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  width: 250px;
  height: 300px;
  padding: 20px;
}

.card:hover .restTextCard{
  display: block;
}